* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*color: black;*/
    align-items: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rosybrown;
}

 